img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

h5 {
    word-spacing: 15px;
    position: relative;
    left: 10px;
    font-size: 18px;
}



/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: #0056b3;
}